.logo {
    position: absolute;
    top: 32%;
    left: 25%;
    height: 66%;
    width: 50%;
    background: url('../images/inantwerpen.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}

