﻿
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">

        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>

    <form class="showroom" action="/UnitBase/Insert" method="post">
        <header>
            <h2>Insert nieuwe basiseenheid</h2>
      
            <div id="command-panel" class="command-panel">
                <button type="submit" name="action" id="Insert" value="Insert" class="tile">
                    <span class="icon-disk"></span>
                    <span class="screen-reader-text">Insert</span>
                </button>

                <a href="/UnitBase/InsertingCancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>

            </div>
        </header>
        @Html.Action("ReadingAll"); 

      

        <div class="detail">
            <fieldset>
                <div>
                    <label for="UnitBaseCode">Code</label>
                    <input id="UnitBaseCode" name="UnitBaseCode" class="text"
                           style="width: 22.5%;" type="text" value="" required />
                </div>
                <div>
                    <label for="UnitBaseName">Nom</label>
                    <input id="UnitBaseName" name="UnitBaseName" class="text"
                           style="width: 32.5%;" type="text" value="" required />
                </div>
                
                <div>
                    <label for="UnitBaseDescription">Beschrijving Basiseenheid</label>
                    <textarea id="UnitBaseDescription" name="UnitBaseDescription" class="text"
                              style="width: 32.5%;" type="text" value=""></textarea>
                </div>
            </fieldset>
            <div class="feedback">
                @Html.ValidationSummary()
            </div>
        </div>

    </form>
</div>


